*.DS_Store
*.class
*.ctxt
*.ear
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.tokens
*.war
*.zip
.DS_Store
.idea/
.mtj.tmp/
/.git.bak/
/.gradle/
/build/
gradle/
gradlew
gradlew.bat
node_modules/
src/main/antlr/org/jetbrains/eolang/parser/EO.g4
src/main/gen/
src/main/java/org/eolang/jetbrains/parser/
target/
