# This workflow will build a Java project with Gradle

name: Java CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env:
          # see https://www.jetbrains.com/idea/download/previous.html
          # and https://www.jetbrains.com/intellij-repository/snapshots/
          - IDEA_VERSION: IC-2020.3
          - IDEA_VERSION: IC-2021.2.4
          - IDEA_VERSION: IC-2021.3.3
          - IDEA_VERSION: IC-2022.1.1
          - IDEA_VERSION: IU-LATEST-EAP-SNAPSHOT
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 14
        uses: actions/setup-java@v1
        with:
          java-version: 14
      - name: Build with Gradle
        run: gradle wrapper; gradle build
        env: ${{ matrix.env }}

