name: Codecov
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 14
      - run: |
          gradle wrapper;
          gradle build
          gradle jacocoTestReport
      - uses: codecov/codecov-action@v2
        with:
          file: build/reports/jacoco/report.xml
          fail_ci_if_error: true